
// FONTS
$cursive: 'Cedarville Cursive', sans-serif;
$droid: 'Droid Serif', sans-serif;

//  COLORS
$white: #fff;
$lightred: #FF5252;
$lightgrey: #D5D5D6;
$darkgrey: #999;
$lightblue: #4285F4;
//$lightblack: #333;
$smoothblack: #111;
$almostwhite: #E8E8E8;


//  MIXINS

// margin-bottom
