.homeContainer {
  width: 100%;
  height: auto;
  padding: 48px;
  //background-color: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .homeBlogPost {
    background-color: $white;
    width: 24%;
    height: 470px;
    padding: 32px;
    border: 1px solid $darkgrey;
    display: inline-block;
    margin-bottom: 16px;
  }

  .homeBlogPostProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 16px;
  }

  .homeBlogPostBannerImg {
    height: 200px;
    width: 100%;
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 16px;
  }

  span, .fa  {
    color: $lightred;
  }

  .fa {
    cursor: pointer;

  }

}
