.homeContainer {
  width: 100%;
  height: auto;
  padding: 48px;
  //background-color: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .homeBlogPost {
    background-color: $white;
    width: 24%;
    height: 480px;
    padding: 24px;
    border: 1px solid $lightgrey;
    display: inline-block;
    margin-bottom: 16px;
  }

  .homeBlogPostProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 16px;
    margin-bottom: 8px;
  }

  .homeBlogPostBannerImg {
    height: 200px;
    width: 100%;
    margin-bottom: 24px;
  }

  .homeBlogPostLikeIcon {
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 24px;
    font-size: 1.75rem;
  }

  .fa {
    cursor: pointer;
  }

  span, .fa-heart-o  {
    color: $lightred;
    margin-right: 8px;
  }

  .fa-bookmark-o {
    color: $lightblue;
    float: right;
  }

}
