
.loginContainer {
  background-color: $white;
  margin: 72px auto;
  width: 450px;
  height: 580px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;

    label {
      font-size: 4rem;
      margin-bottom: 16px;
      text-align: center;
      font-family: $cursive;
    }

    input {
      padding: 16px 16px;
      margin: 6px;
      background-color: $white;
      border: 1px solid $darkgrey;
      border-radius: 5px;
      width: 380px;
      &:focus {
        border: 1px solid $darkgrey;
        outline: none;
      }
    }

    .haveAnAccountBtn {
      border-color: $lightred;
      color: $lightred;
    }

    .signUpBtn {
      background-color: $lightred;
      color: $white;
    }


}
