
.main-container {
  background-color: $almostwhite;
  height: 1000px;
  font-family: 'Varela Round', sans-serif;
  // NAVBAR
  .mainNavbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    font-size: 1.65rem;
    padding: 32px;
    color: $smoothblack;
    border-bottom: 2px solid $lightgrey;

    a {
      color: inherit;
      margin: 8px;
    }

    .navbarBtn {
      border: 1px solid $lightgrey;
      background-color: $white;
      border-radius: 100%;
      padding: 3px 8px;
      &:hover {
        background-color: $smoothblack;
      }
      .navbarIcon:hover {
        color: $white
      }
    }

    .draftBtn {
      background-color: $smoothblack;
      color: $white;
      border-radius: 30px;
      border: 1px solid $lightgrey;
      padding: 3px 20px;
      font-weight: bold;
      &:hover {
        background-color: $white;
        color: $smoothblack;
      }
    }


    .logo {
      font-family: 'Cedarville Cursive', sans-serif;
      font-size: 2.5rem;
    }

  }
} //END OF THE SASS
