.userContainer {
  width: 940px;
  height:  400px;
  background-color: $white;
  margin: 40px auto;
  padding: 32px;

  h2 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
  }

  span {
    margin-right: 24px;
    font-size: 1.65rem;
  }
}
