// SEARCH PAGE
.searchContainer {
  padding-left: 72px;
  padding-top: 72px;
  .searchBox {
    width: 100%;
    font-size: 5rem;
    min-height: 2rem;
    border: none;
    background-color: #E8E8E8;
    outline: none;
  }
}
