//  IMPORTS
@import '_normalize';
@import '_colors_mixins';
@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);

//  BAASE STYLES
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1;

}

a {

}

h1,h2,h3 {

}

img {
  max-width: 100%;
  height: auto;
}

// MAIN STYLES

.main-container {
  background-color: #E8E8E8;
  height: 1000px;
  // NAVBAR
  .mainNavbar {
    background-color: $white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.65rem;
    padding: 12px 0;
    color: #333;
    border-bottom: 1px solid #909090;
    a {
      color: inherit;
      margin: 24px;
    }

    .searchBtn {
      border: 1px solid #999;
      background-color: $white;
      border-radius: 30px;
      &:hover {
        background-color: #222;
      }
      .fa:hover {
        color: $white
      }
    }

    // .seperator{
    //   margin-right: 48px;
    // }

    .navbar-Header {
      margin-left: 16px;
    }

    .navbar-Left {
      margin-right: 16px;
    }
  }

  // SEARCH PAGE
  .searchContainer {
    padding-left: 72px;
    padding-top: 72px;
    .searchBox {
      width: 100%;
      font-size: 5rem;
      min-height: 2rem;
      border: none;
      background-color: #E8E8E8;
      outline: none;
    }
  }
}
